* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 16px;
    background-color: #f8ead7;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows:
    50px
    240px
    100px
    1fr
    50px;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
}

.item {
    background-color: #c43846;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
    display: block;
    padding: 16px;
    font-size: 12px;
    line-height: 1.4;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:
            50px
            240px
            100px
            auto
            50px;
        grid-template-areas:
            "a . ."
            "b c c"
            "b e d"
            "b e ."
            "f f f";
    }
}
@media (min-width: 768px) {
    .grid-container {
        max-width: 900px;
        margin: 0 auto;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:
            50px
            240px
            100px
            100px
            50px;

        grid-template-areas:
            "a . ."
            "b c c"
            "b e d"
            "b e ."
            "f f f";
    }
}